@using Microsoft.AspNetCore.Identity;
@using System.Collections.Generic;

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User)){
    IdentityUser myidentity = await Task.Run(() => UserManager.GetUserAsync(User));
    var roles = await Task.Run(() => UserManager.GetRolesAsync(myidentity));

    @if(roles.Contains("admin") ){
        <li class="nav-item">
            <a class="nav-link text-dark bi bi-list" asp-area="" asp-controller="Remesas" asp-action="Listado">Listar Transacciones</a>
        </li>

    }else{
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Remesas" asp-action="CrearRemesa">Registrar Remesa</a>
        </li>
    } 
}
